In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv("/content/Social_Network_Ads (1).csv")

In [ ]:
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [ ]:
x=df.drop(df[["User ID","Purchased"]],axis=1)

In [ ]:
x

     Gender   Age  EstimatedSalary
0      Male  19.0          19000.0
1      Male  35.0          20000.0
2    Female  26.0          43000.0
3    Female  27.0          57000.0
4      Male  19.0          76000.0
..      ...   ...              ...
395  Female  46.0          41000.0
396    Male  51.0          23000.0
397  Female  50.0          20000.0
398    Male  36.0          33000.0
399  Female  49.0          36000.0

[400 rows x 3 columns]

In [ ]:
x1=pd.get_dummies(x)

In [ ]:
x1

      Age  EstimatedSalary  Gender_Female  Gender_Male
0    19.0          19000.0              0            1
1    35.0          20000.0              0            1
2    26.0          43000.0              1            0
3    27.0          57000.0              1            0
4    19.0          76000.0              0            1
..    ...              ...            ...          ...
395  46.0          41000.0              1            0
396  51.0          23000.0              0            1
397  50.0          20000.0              1            0
398  36.0          33000.0              0            1
399  49.0          36000.0              1            0

[400 rows x 4 columns]

In [ ]:
st=StandardScaler()
scaled=st.fit_transform(x1)

In [ ]:
y=df[["Purchased"]]

In [ ]:
x2=pd.DataFrame(scaled,columns=[["Age","EstimatedSalary","Gender_Female","Gender_Male"]])

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x2,y,test_size=0.3,random_state=123)

In [ ]:
model=SVC(kernel="rbf",random_state=0)
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(random_state=0)

In [ ]:
y_pred=model.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

0.8916666666666667

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
confusion_matrix(y_test,y_pred)

array([[68,  9],
       [ 4, 39]])

In [ ]:
accuracy_score(y_test,y_pred)

0.8916666666666667